.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: .5;
  }
  
  .modal-wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
  }
  
  .modal {
    z-index: 100;
    background: white;
    position: relative;
    border-radius: 3px;
  	min-width: 70vw;
    padding: 2rem;
    align-self: center;
	text-align: center;
	display: flex;
    flex-direction: column;
	    align-items: center;
  }
  
  .modal-header {
    display: flex;
    justify-content: flex-end;
	margin-left: auto;
  }
  
  .modal-close-button {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    opacity: .3;
    cursor: pointer;
    border: none;
  }
  .grid-content {
	width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(168px, 1fr));
    grid-auto-rows: auto;
    row-gap: 1.5em;
    column-gap: 2.5em;
    margin: auto;
    grid-auto-flow: dense;
    justify-items: center;
  }
.winner-article {
	height: 8rem;
    width: 8rem;
}

.loser-article {
	height: 8rem;
    width: 8rem;
}
.modal-battle-vinner-text {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;
}